.details_box{
	width: 100%;
}
.bact_btn{
	display: flex;
	position: fixed;
	left: 20rpx;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	image{
		width: 50rpx;
		height: 50rpx;
	}
}
.details_swiper{
	width: 840rpx;
	height: 750rpx;
	// padding-bottom: 100%;
	position: relative;
	swiper{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.swiper-item{
			width: 100%;
			height: 100%;
			image{
				width: 100%;
				height: 100%;
			}
		}
	}
	
}
.details_msg{
	width: 100%;
	padding: 40rpx 36rpx 0 36rpx;
	.name{
		font-size: 38rpx;
		font-weight: bold;
		color: #020202;
		margin-bottom: 15rpx;
		margin-top: 15rpx;
		
	}
	.sub_title{
		display: flex;
		justify-content: space-between;
		font-size: 28rpx;
		color: #9D9D9F;
		margin-bottom: 20rpx;
	}
	.price_box{
		display: flex;
		width: 100%;
		color: #7D7834;
		display: flex;
		justify-content: space-between;
		align-items: center;
		image{
			width: 60rpx;
			height: 60rpx;
		}
		button{
			padding: 0;
			margin: 0;
			line-height: unset;
			border: none;
			background: #FFFFFF;
		}
		button::after{
			height: 0;
			width: 0;
		}
		.discount{
			display: flex;
			align-items: center;
			.coin{
				font-size: 30rpx;
			}
			.price{
				font-size: 44rpx;
				font-family: 'SimSun';
			}
			.unit{
				color: #666;
				font-size: 30rpx;
			}
		}
		.original{
			display: flex;
			align-items: flex-end;
			color: #666;
			text-decoration: line-through;
			margin-left: 50rpx;
		}
	}
}

.flex-center-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.attr-line{
	font-size: 28rpx;
	color: #9D9D9F;
	height: 72rpx;
	line-height: 72rpx;
	padding: 0rpx 36rpx;
	display: flex;
	align-items: center;
	width: 100%;
	.lint-title{
		margin-right: 30rpx;
	}
	
	.left-line{
		display: flex;
		align-items: center;
		width: 90%;
	}
	
	.line-content{
		color: #020202;
		font-size: 32rpx;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 80%;
	}
	
	image{
		float: right;
		height: 25rpx;
		width: 25rpx;
	}
}

.shop-line{
	height: 130rpx;
	padding: 0rpx 36rpx;
	image{
		width: 197rpx;
		height: 81rpx;
	}
	.go-shop{
		color: #7D7834;
		width: 150rpx;
		height: 55rpx;
		line-height: 55rpx;
		text-align: center;
		border: 1px solid #7D7834;
		border-radius: 30rpx;
	}
}

.grep_bar{
	width: 100%;
	height: 20rpx;
	background: #F7F6F6;
}

.choose_list{
	width: 100%;
	min-height: 70%;
	padding: 30rpx 50rpx;
	background: #FFFFFF;
	position: fixed;
	bottom: -100vh;
	border-top-left-radius: 40rpx;
	border-top-right-radius: 40rpx;

	z-index: 10002;
	.row{
		width: 100%;
		min-height: 80rpx;
		padding: 10rpx 20rpx;
		margin-top: 5px;
		background-color: #fbecdb;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #333;
		font-size: 30rpx;
		border-radius: 10rpx;
		
		image{
			width: 50rpx;
			height: 50rpx;
		}
	}
}

.choose_list::before{
	/* content: '规格';
	position: absolute;
	top: -70rpx;
	height: 80rpx;
	width: 100%;
	font-size: 36rpx;
	background-color: #988F52;
	color: #FFFFFF;
	left: 0;
	line-height: 70rpx;
	text-align: center; */
	border-top-left-radius: 40rpx;
	border-top-right-radius: 40rpx;
}

.list_show{
	animation: listShow 0.2s forwards;
}
.mask{
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	z-index: 9998;
	top: 0;
	left: 0;
}

@keyframes listShow{
	0%{
		bottom: -100vh;
	}
	100%{
		bottom: 0;
	}
}

@keyframes listHide{
	0%{
		bottom: 0;
	}
	100%{
		bottom: -100vh;
		
	}
}


.details_bg{
	width: 100%;
	min-height: 0;
	padding: 30rpx 30rpx;
	padding-top: 0rpx;
	image{
		display: block;
	}
}


.foot_btn{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 126rpx;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 32rpx;
	border-top: 1rpx solid #e1e1e1;
	.operating_box{
		display: flex;
		justify-content: space-around;
		width: calc(100% - 450rpx);
		button{
			padding: 0;
			border: 0;
			margin: 0;
			line-height: unset;
			background: #FFFFFF;
		}
		button::after{
			width: 0;
			height: 0;
		}
	}
	.operating_item{
		color: #9D9D9F;
		font-size: 24rpx;
		text-align: center;
		width: 33.33%;
		image{
			width: 40rpx;
			height: 40rpx;
		}
		
	}
	.btn_box{
		width: 450rpx;
		height: 60%;
		
		display: flex;
		font-size: 36rpx;
		text{
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 28rpx;
			
		}
		.add{
			background-color:#9C9969;
			border-top-left-radius: 50rpx;
			border-bottom-left-radius: 50rpx;
		}
		.buy{
			background-color: #7B7634;
			border-top-right-radius: 50rpx;
			border-bottom-right-radius: 50rpx;
			margin-right: 10rpx;
		}
	}
}
.type_text{
	width: calc(100% - 60rpx);
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	
	.title{
		width: 90rpx;
		height: 100%;
	}
	.sub_title{
		width: calc(100% - 100rpx) !important;
		line-height: 50rpx;
	}
}

/* 规格弹出宽 */
.cuIcon-close {
	font-size: 50rpx;
	position: absolute;
	right: 30rpx;
	top: 30rpx;
}
.goods_info {
	display: flex;
	align-items: flex-end;
	padding-bottom: 40rpx;
	border-bottom: 1rpx solid #eee;
	image {
		width: 180rpx;
		height: 180rpx;
		background: #eee;
	}
	.goods-price {
		margin-left: 30rpx;
		color: #7d7834;
		.price-wrapper {
			display: flex;
			align-items: baseline;
			.symbol {
				font-size: 32rpx;
			}
			.price {
				font-size: 40rpx;
			}
			.line {
				align-self: center;
			}
		}
		.text {
			margin-top: 30rpx;
			color: #999;
			font-size: 32rpx;
		}
	}
}
.specs-wrapper {
	padding-top: 20rpx;
	.text {
		color: #000;
		// font-weight: bold;
		margin-bottom: 30rpx;
	}
	.specs-list {
		display: flex;
		align-items: center;
		border-bottom: 1rpx solid #eee;
		padding-bottom: 30rpx;
		flex-wrap: wrap;
		.item {
			font-size: 30rpx;
			color: #000;
			padding: 20rpx 40rpx;
			background: #f7f8fa;
			margin-right: 40rpx;
			margin-bottom: 40rpx;

		}
		.item.active { 
			background: #d0ceb6;
		}
	}
}
.button-wrapper {
	width: 100%;
	padding-left: 40rpx;
	padding-right: 40rpx;
	display: flex;
	position: absolute;
	left: 0;
	bottom: 40rpx;
	.button {
		font-size: 32rpx;
		width: 50%;
		height: 80rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		letter-spacing: 4rpx;
	}
	.button-left {
		background: #a19e6d;
		border-top-left-radius: 40rpx;
		border-bottom-left-radius: 40rpx;
	}
	.button-right {
		background: #7d7834;
		border-top-right-radius: 40rpx;
		border-bottom-right-radius: 40rpx;
	}
}

.share-box {
	position: fixed;
	bottom: -950rpx;
	background-color: #FFFFFF;
	border-top-left-radius: 40rpx;
	border-top-right-radius: 40rpx;
	height: 900rpx;
	width: 100%;
	text-align: center;
	z-index: 10001;
	box-shadow: 0 5rpx 20rpx 10rpx #999999;
	image{
		width: 80%;
		height: 579rpx;
		margin: 50rpx auto 0 auto;
	}
	.but{
		width: 80%;
		border-radius: 40rpx;
		color: #FFFFFF;
		background-color: #7b7634;
		line-height: 60rpx;
		height: 60rpx;
		text-align: center;
		margin: 100rpx auto 0 auto;
	}
}


.show-sheet {
	animation: showShare 0.2s forwards;
}

@keyframes showShare {
	0% {
		bottom: -950rpx;
	}

	100% {
		bottom: 0rpx;
	}
}

.item-num{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30rpx;
}

.add-reduce {
	height: 100%;
	display: flex;
	min-width: 120rpx;
	align-items: flex-end;
	// justify-content: center;
	margin-right: 20rpx;
	font-size: 24rpx;
	view{
		border: 1rpx solid #e1e1e1;
		width: 50rpx;
		height: 50rpx;
		line-height: 50rpx;
		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		margin-bottom: 30rpx;
	}
	.reduce{
		border-radius: 5rpx 0 0 5rpx;
		background-color: #F2F2F2;
	}
	.add{
		border-radius: 0 5rpx 5rpx 0;
		background-color: #F2F2F2;			
	}
	.num{
		width: 70rpx;
		font-weight: bold;
		background-color: #F2F2F2;				
	}
}