	.home_box{
		margin-bottom: 50px;
	}
	.search{
		width: 100%;
		left: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20rpx;
		input{
			background-color: #F1F1F1;
			width: 640rpx;
			border-radius: 40rpx;
			margin: 0 20rpx;
			padding-left: 30rpx;
			// height: 40rpx;
			line-height: 40rpx;
		}
		image{
			width: 50rpx;
			height: 50rpx;
		}
	}
	.swiper_head{
		margin: 0 auto;
		width: 670rpx;
		height: 850rpx;
		// padding-bottom: 100%;
		position: relative;
	
		swiper{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			image{
				border-radius: 40rpx;
			}
		}
		.swiper-item{
			width: 100%;
			height: 100%;	
		}
	}
	.head_nav{
		width: 100%;
		padding: 50rpx 150rpx 60rpx 150rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.nav{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 10rpx;
		    width: 20%;
		
		}
		image{
			width: 80rpx;
			height: 80rpx;
			margin-bottom: 15rpx;
			// border-radius: 50%;
		}
		text{
			color: #857827;
			font-size: 30rpx;
		}
	}
	
	.font-bar{
		width: 100%;
		margin-bottom: 40rpx;
		image{
			width: 60%;
			height: 20rpx;
			margin: 0 auto;
			display: block;

		}
	}
	
	.main-contaner{
		margin: 0 60rpx;
	}
	
	.advertising{
		display: flex;
		flex-wrap: wrap;
		.ad-item{
			
			width: 50%;
			margin-bottom: 28rpx;
		}
		
		.right{
			text-align: right;
		}
		
		.left{
			text-align: left;
		}
		
		image{
			width: 280rpx;
			height: 115rpx;
		}
	}
	.title_type{
		width: 100%;
		padding: 15rpx 0;
		color: #857827;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #F1F1F1;
		height: 43rpx;
		margin-bottom: 32rpx;
		
		.title{
			font-size: 28rpx;
			line-height: 28rpx;
			// font-weight: bold;
			position: relative;
			padding-left: 40rpx;
		}
		.title::before{
			content: "||";
			position: absolute;
			left: 10rpx;
			font-size: 28rpx;
			line-height: 28rpx;
		}
		
		.title_sub{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 28rpx;
			image{
				width: 21rpx;
				height: 19rpx;
				margin-right: 30rpx;
			}
		}
	}
	.goods_list{
		width: 85%;
		margin: 0 auto;
		// padding: 30rpx 0rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.goods{
		width: 227rpx;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-items: center;
		margin-bottom: 25rpx;
		color: #857825;
		height: 365rpx;
		margin-right: 30rpx;
	    border-radius: 10rpx;
		
		.goods_img{
			width: 227rpx;
		    height: 227rpx;
			margin-bottom: 8rpx;
			
		}
		.cart{
			width: 40rpx;
			height: 40rpx;
		}
		.goods_name{
			display: flex;
			width: 100%;
			align-items: center;
			// justify-content: space-between;
			flex-wrap: wrap;
			.title{
				width: calc(100% - 30rpx);
				font-size: 28rpx;
				overflow : hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			image{
				height: 22rpx;
				width: 24rpx;
			}
			
			
		}

		.price_box{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15rpx;
			width: 100%;
			font-size: 26rpx;
			.price_left{
				display: flex;
				align-items: center;
				font-size: 24rpx;
				.price{
					color: #9E9E9E;
					font-weight: bold;
				}
				.unit{
					color: #9E9E9E;
				}
			}
		}
		
	}
	.swiper_recommend{
		width: calc(100% - 60rpx);
		margin: 30rpx;
		margin-top: 0;
		//box-shadow: #F0F0F0 0px 0px 1rpx 1rpx;
		//border-right: 1rpx solid #F0F0F0;
		height: 370rpx;
		swiper{
			height: 370rpx;
			width: 100%;
			swiper-item{
				width: 210rpx !important;
			}
			.swiper-item{
				width: 210rpx;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.goods{
					width: 100%;
					height: 100%;
					margin-bottom: 0rpx;
					border: none;
					margin-right:0;
					padding-top: 1rpx;
				}
			}
		}
	}
	.swiper_discount{
		width: calc(100% - 60rpx);
		margin: 30rpx;
		margin-top: 0;
		swiper{
			width: 100%;
			height: 70rpx;
			.swiper-item{
				color: #857825;
				display: flex;
				align-items: center;
			    justify-content: center;
				height: 100%;
				
			}
			.active{
				background-color: #857825;
				color: #fff;
			}
		}
	}
	.goods:nth-child(3n+3){
		margin-right: 0;
	}
