	.home_box{
		// margin-bottom: 50px;
	}
	.search{
		width: 100%;
		left: 0;
		z-index: 9999;
		display: flex;
		// justify-content: center;
		align-items: center;
		background-color: #F1F1F1;
		width: calc(100% - 40rpx);
		border-radius: 40rpx;
		margin: 0 auto 20rpx auto;
		// padding-left: 30rpx;
		// height: 40rpx;
		line-height: 40rpx;
		height: 40rpx;
		font-size: 22rpx;
		
		input{
			width: 500rpx;
			height: 100%;
		}
		image{
			width: 30rpx;
			height: 30rpx;
			margin: 0 20rpx;
		}
	}
	.swiper_head{
		margin: 0 auto;
		width: 100%;
		height: 730rpx;
		// padding-bottom: 100%;
		position: relative;
	
		swiper{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			image{
				border-radius: 40rpx;
			}
		}
		.swiper-item{
			width: 100%;
			height: 100%;	
			padding: 0 20rpx;
		}
	}
	.head_nav{
		width: 100%;
		padding: 43rpx 150rpx 43rpx 150rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.nav{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 10rpx;
		    width: 20%;
		
		}
		image{
			width: 60rpx;
			height: 60rpx;
			margin-bottom: 15rpx;
			// border-radius: 50%;
		}
		text{
			color: #60605F;
			font-size: 24rpx;
		}
	}
	
	.font-bar{
		width: 100%;
		margin-bottom: 30rpx;
		padding-left: 150rpx;
		padding-right: 150rpx;
		text-align: center;
		font-size: 26rpx;
		font-weight: 500;
		font-family: "SimHei";
		letter-spacing: 25rpx
	}
	
	.main-contaner{
		margin: 0 60rpx;
	}
	
	.advertising{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 127rpx;
		.ad-item{
			// width: 50%;
			width: 300rpx;
			height: 150rpx;
			// margin-bottom: 13rpx;
		}
		
		.right{
			margin-left: 17rpx;
			// text-align: right;
		}
		
		.left{
			// padding-right: 34rpx;
			// text-align: left;
		}
		
		image{
			// width: 280rpx;
			// height: 115rpx;
			height: 100%;
			width: 100%;
		}
	}
	.title_type{
		width: calc(100% - 160rpx);
		margin: 0 auto;
		color: #857827;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #F1F1F1;
		height: 70rpx;
		margin-bottom: 30rpx;
		
		.title{
			font-size: 28rpx;
			line-height: 28rpx;
			// font-weight: bold;
			position: relative;
			padding-left: 40rpx;
		}
		.title::before{
			content: "||";
			position: absolute;
			left: 20rpx;
			font-size: 28rpx;
			line-height: 28rpx;
		}
		
		.title_sub{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 28rpx;
			image{
				width: 21rpx;
				height: 19rpx;
				margin-right: 30rpx;
			}
		}
	}
	.goods_list{
		width: 100%;
		padding: 0 80rpx;
		// padding: 30rpx 0rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: #f8f8f8;
	}
	.goods{
		width: 255rpx;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// align-items: center;
		margin-bottom: 25rpx;
		color: #857825;
		// height: 365rpx;
	    border-radius: 10rpx;
		background-color: #FFFFFF;
		
		.goods_img{
			width: 255rpx;
		    height: 255rpx;			
		}
		.cart{
			width: 40rpx;
			height: 40rpx;
		}
		.goods_name{
			margin-bottom: 30rpx;
			.title{
				width: calc(100% - 30rpx);
				font-size: 24rpx;
				overflow : hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #333333;
			}
		}

		.price_box{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			font-size: 26rpx;
			.price_left{
				display: flex;
				align-items: center;
				font-size: 24rpx;
				.price{
					color: #857825;
					// font-weight: bold;
				}
				.unit{
					color: #9E9E9E;
				}
			}
			image{
				height: 22rpx;
				width: 24rpx;
			}
		}
		
	}
	.swiper_recommend{
		width: calc(100% - 60rpx);
		margin: 30rpx;
		margin-top: 0;
		//box-shadow: #F0F0F0 0px 0px 1rpx 1rpx;
		//border-right: 1rpx solid #F0F0F0;
		height: 370rpx;
		swiper{
			height: 370rpx;
			width: 100%;
			swiper-item{
				width: 210rpx !important;
			}
			.swiper-item{
				width: 210rpx;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.goods{
					width: 100%;
					height: 100%;
					margin-bottom: 0rpx;
					border: none;
					margin-right:0;
					padding-top: 1rpx;
				}
			}
		}
	}
	.swiper_discount{
		width: calc(100% - 60rpx);
		margin: 30rpx;
		margin-top: 0;
		swiper{
			width: 100%;
			height: 70rpx;
			.swiper-item{
				color: #857825;
				display: flex;
				align-items: center;
			    justify-content: center;
				height: 100%;
				
			}
			.active{
				background-color: #857825;
				color: #fff;
			}
		}
	}
	.goods:nth-child(3n+3){
		margin-right: 0;
	}
